.contacts {

    padding: 120px 0 92px 0;

    &__wrapper {
        padding: 0 38px 0 56px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }

    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        position: relative;
        padding-left: 13px;

        @include before_circle;

    }

    &__content {
        padding-top: 6px;

        .divider {
            margin: 0;
        }
    }

    &__text,
    &__social {
        margin-top: 20px;
    }

    &__link {

        margin-right: 25px;

        img {
            max-width: 30px;
            max-height: 30px;
        }

    }

    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 28px;

        label {
            display: block;
            position: absolute;
            top: -8px;
            left: 21px;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
        }
    }

    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 37px;

    }

    &__policy {
        font-size: 12px;
        display: flex;
        align-items: center;
        font-weight: 500;

        input {
            margin-right: 10px;
        }

    }

    &__input {
        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding: 0 21px;
            font-size: 12px;

        }
    }

    &__textarea {
        position: relative;
        grid-column: 1 / 3;

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 21px;
            font-size: 12px;
        }
    }

    &__btn {
        border: none;
        font-weight: 700;
        font-size: 14px;

    }


}